* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #efefef;
  line-height: 1.5;
}
a {
  text-decoration: none;
}
.container {
  width: 1100px; 
  max-width: 100%;
  margin: 0 auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.card{
  flex: 1 1 20rem;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  margin: 10px 20px;
  background: #ffff;
  box-shadow: 0 0 15px rgba(0 0 0);
  padding: 10px 20px;
  align-self: normal;
}
.card img{
  max-width: 200px;
}
.card p{
  padding-bottom: 10px;
}
.card h4{
  font-size: 1.1rem;
  text-transform: uppercase;
  margin: 10px 0;
}

.card .btn{
  display: inline-block;
  text-align: center;
  margin-top: auto;
  background-color: green;
  color: #ffff;
  text-align: center;
  padding: 10px 20px;
  border-radius: 5px;
}